//! Dimensional analysis library
#[link(name = "runits", vers = "0.1", uuid = "DA082E17-59F4-49A2-BFC2-CAAA1D0B7C94")];
#[crate_type = "lib"];

#[author = "Jesse Jones"];
#[license = "MIT"];

#[forbid(unused_imports)];
#[forbid(implicit_copies)];
#[forbid(deprecated_pattern)];
#[forbid(non_implicitly_copyable_typarams)];
#[allow(structural_records)];	// TODO: think some compiler generated code is tripping this
#[allow(deprecated_mode)];	// TODO: can't quite enable this yet

extern mod std;
 
pub mod generated;
pub mod units;

// TODO: figure out how to re-export items so that clients can simply use the runits module